.clearfix{zoom:1;}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
.debug{outline:1px solid #e74c3c;background:rgba(220,220,220,0.5)}
*,html{margin:0;padding:0;-webkit-font-smoothing:antialiased}
body{font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.3em;color:#f1f1f1;background:#9b59b6;text-align:center}
a,a:active,a:visited,a:hover{color:#f1c40f;text-decoration:none}
p {margin-bottom:1em;}
h1{font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:44px;font-weight:300}
section{display:table;padding:100px 0 150px 0;width:100%;}
section .content{display:table-cell;vertical-align:middle}
section.one{background:#9b59b6}
section.two{background:#8e4aa9;}
section.two strong{color:#f1c40f}
section.three{background:#7e4297;}
section.four{background:#8e4aa9;}
section.five{background:#9b59b6;}
section.six{background:#5f3271}
section.footer{min-height:inherit;padding:1em 0;background:#2f1938;color:#7f8c8d;font-size:80%}
section.footer p {margin-bottom:0;}
